// :host {
//   background-color: rgba(50,150,150,1);
//   display: block;
//   height: 100%;
//   width: 100%;
// }

.thing {
  background-color: rgba(50,150,150,1);
  width: 2000px;
  height: 100px;
  display: block;
}
